@font-face {
    font-family: "futura-bold";
    src: url("./assets/fonts/futura-bold.woff2");
  }

  @font-face {
    font-family: "kinopoisk-bold";
    src: url("./assets/fonts/kinopoisk-bold.woff2");
  }

  @font-face {
    font-family: "kinopoisk-light";
    src: url("./assets/fonts/kinopoisk-light.woff2");
  }

  @font-face {
    font-family: "kinopoisk-lite";
    src: url("./assets/fonts/kinopoisk-lite.woff2");
  }

  @font-face {
    font-family: "kinopoisk-medium";
    src: url("./assets/fonts/kinopoisk-medium.woff2");
  }

  @font-face {
    font-family: "kinopoisk-regular";
    src: url("./assets/fonts/kinopoisk-regular.woff2");
  }

  @font-face {
    font-family: "kinopoisk-semibold";
    src: url("./assets/fonts/kinopoisk-semibold.woff2");
  }
  